.km-flat .km-badge,
.km-flat .km-rowinsert,
.km-flat .km-rowdelete,
.km-flat .km-state-active,
.km-flat .km-switch-label-on,
.km-flat .km-switch-label-off,
.km-flat .km-tabstrip .km-button,
.km-flat .km-popup .k-item,
.km-flat .km-actionsheet > li > a,
.km-flat .km-tabstrip .km-state-active,
.km-flat .k-slider .k-draghandle,
.km-flat .k-slider .k-draghandle:hover,
.km-flat .km-scroller-pull .km-icon,
.km-flat .km-popup.km-pane .km-navbar,
.km-flat .km-popup.km-pane .km-toolbar,
.km-flat .km-popup.km-pane .km-tabstrip,
.km-flat .km-popup .k-state-hover,
.km-flat .km-popup .k-state-focused,
.km-flat .km-popup .k-state-selected,
.km-flat .km-actionsheet > li > a:active,
.km-flat .km-actionsheet > li > a:hover,
.km-flat li.km-state-active .km-listview-link,
.km-flat li.km-state-active .km-listview-label,
.km-flat .km-state-active .km-listview-link:after
{
    color:#171717;
}


.km-flat .km-popup.km-pane .km-navbar .km-button {
 border-color: #14bbce;
 padding: .3em .5em;
    font-size: .8em;
 line-height: 1em;
}


.km-flat .km-loader > *:not(h1),
.km-flat .km-filter-wrap > input,
.km-flat .km-switch-handle.km-state-active,
.km-root .km-flat .km-scroller-refresh span:not(.km-template),
.km-flat .km-listview-label input[type=checkbox]:checked:after
{
    background: #14bbce;
}

.km-flat .km-switch-handle,
.km-flat .k-slider-selection,
.km-flat .km-switch-background
{
    color: #fff;
}

.km-flat .km-loader,
.km-flat .km-rowinsert,
.km-flat .km-state-active,
.km-flat .km-scroller-pull,
.km-flat .k-slider-selection,
.km-flat .km-touch-scrollbar,
.km-flat .km-pages .km-current-page,
.km-flat .k-slider .k-draghandle,
.km-flat .k-slider .k-draghandle:hover,
.km-flat .km-tabstrip .km-state-active,
.km-flat .km-scroller-refresh.km-load-more,
.km-flat .km-popup .k-state-hover,
.km-flat .km-popup .k-state-focused,
.km-flat .km-popup .k-state-selected,
.km-flat .km-actionsheet > li > a:active,
.km-flat .km-actionsheet > li > a:hover,
.km-flat li.km-state-active .km-listview-link,
.km-flat li.km-state-active .km-listview-label,
.km-flat .km-listview-label input[type=radio]:checked,
.km-flat .km-listview-label input[type=checkbox]:checked
{
    background: rgba(255,255,255,.7);
    color: #14bbce;
}

.km-flat .km-filter-wrap > input:focus
{
    border-color: #fff;
}


.km-flat .km-left-drawer .km-content,
.km-flat .km-left-drawer .km-list > li,
.km-flat .km-left-drawer .km-listview-link > .km-icon,
.km-flat .km-left-drawer .km-list li > .km-icon
{
    background-color: #4e4e4e;
    color: #fff;
}

.km-flat .km-left-drawer .km-group-title
{
    background-color: #6e6e6e;
    color: #fff;
}

.km-drawer-button:before, .km-drawer-button:after  { content: "\E077"; }
.km-settings:before, .km-settings:after { content: "\e20f"; }
.km-off:before, .km-off:after { content: "\E0B9"; }
.km-filter:before, .km-filter:after { content: "\E06C"; }
.km-progress:before, .km-progress:after { content: "\E0BA"; }
.km-plus:before, .km-plus:after { content: "\E200"; }
.km-favs:before, .km-favs:after { content: "\E20c"; }

.km-ios #popover .km-view-title,
.km-ios #popover-people .km-view-title
{
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,.5);
}

#taskListView .statusButtons {
    display:none;
    position: absolute;
    top: .15em;
    right: .5em;
    width: 60px;
    background-color: #bd2729;
    color: #fff;
}