<div data-role="view" id="tabstrip-addtask" data-layout="default" class="tasks-view" data-model="app.taskService.addTask" data-show="onAddViewShow">
    <header data-role="header">
		<div data-role="navbar">
			Add New Task
            <a class="nav-button" data-align="left" data-role="button" data-bind="click: onCancelClick">Cancel</a>
			<a class="nav-button" data-align="right" data-role="button" data-bind="click: onDoneClick">Done</a>
		</div>
	</header>	
    
    <form action="./index.html">
        <ul data-role="listview" data-style="inset">
            <li>
                <label for="titleInput">Title
                <input id="titleInput" type="text" data-bind="value: title" />
                </label>
            </li>
            <li>
                <label for="descriptionInput">Description
                <input id="descriptionInput" type="text" data-bind="value: description" /> 
                </label>
            </li>
            <li>
                <label for="usersDropDownList">
                Assign to
                <select id="usersDropDownList"></select>
                </label>
            </li>
            <li>
                <label for="dateInput">Date
                <input id="dateInput" type="date" data-bind="value: date"/>
                </label>                
            </li>            
        </ul>        
        <label id="createItemError" class="hidden"></label>                
            
    </form>
    
    <div data-role="footer"  >
        <div data-role="tabstrip" >
            <a href="views/pointsView.html" data-icon="favs">My Points</a>
            <a href="views/mainView.html" data-icon="progress">My Tasks</a>
            <a href="views/addTaskView.html" data-icon="plus">New Task</a>
        </div>
    </div>
</div>
<script>
    function onAddViewShow() {
        $('#dateInput').val(new Date().toJSON().slice(0,10));
        teamPulse.getAllUsers(function(data) {
            var dataSource = [];
            var users = data.results;
            $('#usersDropDownList').empty();
            for(var i = 0; i < users.length; i++) {
                dataSource.push({"DisplayName": users[i].displayname});
                if(teamPulse.currentUser.id == users[i].id) {
                    $('#usersDropDownList').append(new Option(data.results[i].displayName, data.results[i].id, false, true)); 
                } else {
                    $('#usersDropDownList').append(new Option(data.results[i].displayName, data.results[i].id, false, false)); 
                }
                
            }
        });
    }
</script>

