<div data-role="view" id="tabstrip-addtask" data-layout="default" class="tasks-view"> <!-- data-show="app.viewModels.activity.show"> -->
	
    <header data-role="header">
		<div data-role="navbar">
			Task
			<a class="nav-button" data-align="left" data-role="backbutton">Back</a>
		</div>
	</header>

	<div id="task-container" class="tasks-view" >
        Abadaba
	</div>
    
    
         <!--Footer-->
        <div data-role="footer"  >
            <div data-role="tabstrip" >
                <a href="views/mainView.html" data-icon="home">Home</a>
                <a href="views/addTaskView.html" data-icon="mostrecent"> Add</a>
            </div>
        </div>
</div>