<div data-role="view" id="tabstrip-mainview" data-layout="default" class="main-view"> <!-- data-show="app.viewModels.activity.show"> -->
	
    <header data-role="header">
		<div data-role="navbar">
            <a class="nav-button" data-align="left" data-role="button">BTN</a>
			&lt; username here &gt;
			
		</div>
	</header>

	<div id="task-container" class="tasks-view" >
        put list view here
	</div>
    
            <!--Footer-->
    <div data-role="footer"  >
        <div data-role="tabstrip" >
            <a href="views/mainView.html" data-icon="home">Home</a>
            <a href="views/addTaskView.html" data-icon="mostrecent"> Add</a>
            <a href="views/taskDetailsView.html" data-icon="mostrecent"> Details</a>
        </div>
    </div>
    
</div>