<div data-role="view" id="tabstrip-mainview" data-layout="databinding" class="main-view" data-init="onMainViewLoaded"> <!-- data-show="app.viewModels.activity.show"> -->
	
    <header data-role="header">
		<div data-role="navbar">
            <a data-role="button" data-rel="drawer" href="#users-drawer" data-icon="drawer-button" data-align="left"></a>
			<span id="username"></span>
            <a data-align="right" data-rel="popover" href="#popover-people" data-role="button" data-icon="filter" ></a>
		</div>
	</header>

      <!-- Popover-->
     <div data-role="popover" id="popover-people" data-popup='{"height": "14em", "width": "15em"}'>
        <div data-role="view">
            <div data-role="header">
                <div data-role="navbar">
                    <span data-role="view-title">&nbsp;</span>
                    <a data-role="button" data-align="center" data-click="closeParentPopover">Apply</a>
                </div>
            </div>
            <ul data-role="listview">
                <li><label>Not Done<input type="checkbox"></label></li>
                <li><label>In progress<input type="checkbox"></label></li>
                <li><label>Done<input type="checkbox"></label></li>
            </ul>
        </div>
    </div>
    
	<div id="task-container" class="tasks-view" >
        <ul id="taskListView">
        
        </ul>
	</div>
    
    <!--Footer-->
    <div data-role="footer"  >
        <div data-role="tabstrip" >
            <a href="views/pointsView.html" data-icon="favs">My Points</a>
            <a href="views/mainView.html" data-icon="progress">My Tasks</a>
            <a href="views/addTaskView.html" data-icon="plus">New Task</a>
        </div>
    </div>
    
    </div>
    
<script>
    // reset global drawer instance
     kendo.mobile.ui.Drawer.current = null;
    
    function closeParentPopover(e) 
    {
        var popover = e.sender.element.closest('[data-role=popover]').data('kendoMobilePopOver');
        popover.close();
    }
    function onMainViewLoaded() {
        $("#username").text(teamPulse.currentUser.displayName);
        teamPulse.getTasksForUser(teamPulse.currentUser.id, null, function(data){
            $('#taskListView').kendoMobileListView({ 
                dataSource: data.results,
                template: $("#singleTaskTemplate").text()
            }).kendoTouch({
                swipe: function(e) {
                    var button = kendo.fx($(e.touch.currentTarget).find(".statusButtons"));
                    button.expand().duration(200).play();
                },
                tap: function(e) {
                    if($(e.event.originalEvent.srcElement).closest('.statusButtons').length > 0) {
                        return;
                    }
                    navigateToDetailsView($(e.event.originalEvent.srcElement).closest('.taskWrapper'))
                },
                enableSwipe: true
            });
        })
        
    }
    function navigateToDetailsView(sender) {
        var taskId = $(sender).data('id');
        app.application.navigate('views/taskDetailsView.html?id='+ taskId);
    }
    function updateStatus(sender) {
        var taskId = $(sender).data('id');
        var taskStatus = $(sender).data('status');
        teamPulse.updateItem(taskId, taskStatus, function(data) {
           onMainViewLoaded();
        });
    }
</script>
<script type="text/x-kendo-tmpl" id="singleTaskTemplate">
    <div class="taskWrapper" data-id="#: id#">
        <h3>#:fields.Name#</h3>
        <div class="statusButtons">
            <a data-role="button" data-id="#: id#" data-status="In Progress" onclick="updateStatus(this)">On It!</a>
            <a data-role="button" data-id="#: id#" data-status="Done" onClick="updateStatus(this)">Done</a>
        </div>
    </div>
</script>

     <!-- Drawer  content-->
    <div data-role="drawer" id="users-drawer" style="width: 270px" data-views="['/','tabstrip-mainview']">
        <ul data-role="listview" data-type="group">
            <li>Users
                <ul>
                    <li ><a href="#tabstrip-mainview" data-transition="none">Ivan</a></li>
                    <li ><a href="#tabstrip-mainview" data-transition="none">Pesho</a></li>
                    <li ><a href="#tabstrip-mainview" data-transition="none">Gosho</a></li>
                    <li ><a href="#tabstrip-mainview" data-transition="none">Mom</a></li>
                    <li ><a href="#tabstrip-mainview" data-transition="none">Dad</a></li>
                    <li ><a href="#tabstrip-mainview" data-transition="none">Uncle</a></li>
                </ul>
            </li>
            <li>Account
                <ul>
                    <li data-icon="settings">Settings</li>
                    <li data-icon="off"><a href="">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>

  