<div data-role="view" id="tabstrip-points" data-layout="default" class="points-view">
    <header data-role="header">
		<div data-role="navbar">
			My Points
            
		</div>
	</header>	
    <div style="font-size: 7em; padding-top: .1em; font-weight: bold; text-align: center;"><span style="display: block; font-size: .15em; margin-bottom: -1em;">This week</span>27</div>
    <div style="font-size: 1.5em; padding-bottom: .3em;text-align: center; border-bottom: 1px solid rgba(255,255,255,0.4)">TOTAL POINTS: 174</div>
    
    <div id="chart" style="background: none; height: 15em;"></div>
    
    <script>
        function createChart() {
            $("#chart").kendoChart({
                title: {
                    text: "Performance",
                    color: "#fff"
                },
                legend: {
                    visible: false
                },
                chartArea: {
                    background: ""
                },
                seriesDefaults: {
                    type: "line",
                    
                },
                series: [{
                    name: "Points per week",
                    data: [21, 24, 28, 22, 26, 10, 16, 27],
                    color: "#000"
                }],
                valueAxis: {
                    labels: {
                        color: "#fff"
                    },
                    line: {
                        visible: false
                    },
                    max: 40
                },
                categoryAxis: {
                    categories: [11, 12, 13, 14, 15, 16, 17, 18],
                    majorGridLines: {
                        visible: false
                    },
                    labels: {
                        color: "#fff"
                    },
                    color: "#fff"
                },
                tooltip: {
                    visible: true,
                    format: "{0}%",
                    template: " #= value # PTS<br />WEEK #= category #",
                }
            });
        }

        $(document).ready(createChart);
        $(document).bind("kendo:skinChange", createChart);
    </script>
    
    <div data-role="footer"  >
        <div data-role="tabstrip" >
            <a href="views/pointsView.html" data-icon="favs">My Points</a>
            <a href="views/mainView.html" data-icon="progress">My Tasks</a>
            <a href="views/addTaskView.html" data-icon="plus">New Task</a>
        </div>
    </div>
</div>