<div data-role="view" id="tabstrip-taskDetails" data-layout="default" class="tasks-view" data-model="app.taskService.taskDetailsView" data-init="onDetailsViewLoaded">
    <header data-role="header">
		<div data-role="navbar">
			Details
            <a class="nav-button" data-align="left" data-role="button" data-bind="click: onBackClick">Back</a>
		</div>
	</header>
    <form action="./index.html">
        <ul data-role="listview" data-style="inset">
            <li>
                <label for="titleInput">Title
                <input id="titleInput" type="text" readonly="readonly"/>
                </label>
            </li>
            <li>
                <label for="descriptionInput">Description
                <input id="descriptionInput" type="text" readonly="readonly"/> 
                </label>
            </li>
            <li><label>Status
                <input id="statusInput" type="text" readonly="readonly"/>      
                </label>
            </li>    
            <li><label>Date
                <input id="dateInput" type="text" readonly="readonly"/>      
                </label>
            </li>    
        </ul>        
        <label id="createItemError" class="hidden"></label>                
    </form>
    <div data-role="footer"  >
        <div data-role="tabstrip" >
            <a href="views/pointsView.html" data-icon="favs">My Points</a>
            <a href="views/mainView.html" data-icon="progress">My Tasks</a>
            <a href="views/addTaskView.html" data-icon="plus">New Task</a>
        </div>
    </div>
</div>
<script>
    function onDetailsViewLoaded(e) {
        var taskId = e.view.params.id;
        teamPulse.getItemById(taskId, function(data) {
            $("#titleInput").val(data.fields.Name);
            $("#descriptionInput").val(data.fields.Description);
            $("#statusInput").val(data.fields.Status);
            $("#dateInput").val(new Date(data.fields.tp_Assigndate_cf).toDateString());
        });
    }
</script>