<div data-role="view" id="tabstrip-taskDetails" data-layout="default" class="tasks-view" data-model="app.taskService.taskDetails" data-init="onDetailsViewLoaded">
    <header data-role="header">
		<div data-role="navbar">
			Task
			<a class="nav-button" data-align="left" data-role="backbutton">Back</a>
		</div>
	</header>
    <div> 
        <div>
            <label for="titleInput">Title</label>
            <input id="titleInput" type="text" readonly="readonly"/>
        </div>
        <div>
            <label for="descriptionInput">Description</label>
            <input id="descriptionInput" type="text" readonly="readonly"/>
        </div>
        <div>
            <select id="taskStatus">
                <option value="NotDone">Not Done</option>
                <option value="InProgress">In Progress</option>
                <option value="Done">Done</option>
            </select>
        </div>
        <div>
            <button data-bind="click: onDoneClick">Done</button>
            <button data-bind="click: onCancelClick">Cancel</button>
        </div>
    </div>
    
    <div data-role="footer"  >
        <div data-role="tabstrip" >
            <a href="views/pointsView.html" data-icon="favs">My Points</a>
            <a href="views/mainView.html" data-icon="progress">My Tasks</a>
            <a href="views/addTaskView.html" data-icon="plus">New Task</a>
        </div>
    </div>
</div>
<script>
    function onDetailsViewLoaded(e) {
        debugger;
        var taskId = e.view.params.id;
        teamPulse.getItemById(taskId, function(data) {
            $("#titleInput").val(data.fields.Name);
            $("#descriptionInput").val(data.fields.Description);
        });
    }
</script>